<section class="bottom-margin">
    <!-- <h3 class="text-center font-bold">About</h3> -->
    <div class="text-center about">

        <p>
            With over 13 years experience , I possess a proven ability to meet development, UX, and UI requirements
            while
            establishing development and design system best practices and implement them throughout the organization and
            code
            base to create the best experiences
            and
            products for the end user
        </p>
        <p>
            I have directed work among the development and UX teams to achieve milestones and launch products
            while working with senior-level stakeholders to create high-quality digital solutions

        </p>
        <p>
            I've also conducted Figma sessions with the UX and creative teams to create, test, and refine solutions
            resulting in highly
            functional prototypes for user testing
        </p>
    </div>
</section>