<section class="bottom-margin">
    <h3 class="text-center font-bold cyan">SaaS Work</h3>
    <div class="inner-container">

        <app-carousel [selHeight]="450" [automatic]="true" [interval]="5000"
            [images]="['work/SaaS-examples.png', 'work/troy-homepage-montage-01.png' ,'work/carousel-home/4.png', 'work/carousel-home/1.png', 'work/carousel-home/2.png', 'work/carousel-home/3.png']"></app-carousel>
    </div>

    <div class="marketing-work">
        <p class="text-center cyan">Marketing site's:</p>
        <div class="home-two-column">

            <div class="column1">
                <ul>
                    <li>
                        <a href="https://iloveicecreamcakes.com" target="_blank">iloveicecreamcakes.com</a>
                    </li>
                    <li>
                        <a href="https://electrocore.com" target="_blank">electrocore.com</a>
                    </li>
                    <li>
                        <a href="https://gammacore.com" target="_blank">gammacore.com</a>
                    </li>
                    <li>
                        <a href="https://thiolaec.com" target="_blank">thiolaec.com</a>
                    </li>
                    <li>
                        <a href="https://farmrich.com" target="_blank">farmrich.com</a>
                    </li>

                </ul>
            </div>
            <div class="column2">
                <ul>
                    <li>
                        <a href="https://emflaza.com" target="_blank">emflaza.com</a>
                    </li>
                    <li>
                        <a href="https://ptccares.com" target="_blank">ptccares.com</a>
                    </li>
                    <li>
                        <a href="https://thiolaechcp.com" target="_blank">thiolaechcp.com</a>
                    </li>
                    <li>
                        <a href="https://seapak.com" target="_blank">seapak.com</a>
                    </li>
                    <li>
                        <a href="https://askewmarketing.com" target="_blank">askewmarketing.com</a>
                    </li>

                </ul>
            </div>


        </div>

    </div>
</section>