<div class="topContainer ">

    <img class="rounded" src="profile-pic.webp" alt="" width="400px">

    <div class="home-top-text">

        <h3 class="text-center font-black cyan">
            <!-- Experienced  -->
            <!-- Front-End  -->
            Developer and UX/UI Designer
            <!-- with a demonstrated
            history of working in the
            marketing
            and payroll
            industries. -->
        </h3>

        <!-- <h4 class="text-center font-bold">
            Skilled in 
            HTML, CSS,
            JavaScript, 
            TypeScript, C#, .NET, Angular, React, Figma
        </h4> -->

        <!-- <h5 class="text-center font-regular">Also have experience with
            .NET, 
            PHP, WordPress, and Drupal
        </h5> -->

        <h4 class="text-center font-regular degree">
            <!-- Professional with a -->
            Bachelor's of fine art with a concentration in Graphic Design from
            Georgia State
            University.
        </h4>


    </div>
</div>